<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <p>The delete user and user index api routes are restricted to users with the 'admin' role.</p>
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="user in users" style="height: 55px">
      <span class="pull-left">
        <strong>{{user.name}}</strong><br>
        <span class="text-muted">{{user.email}}</span>
      </span>
      <span class="pull-right">
        <a ng-show="!user.enabled" ng-click="enable(user)" class="btn btn-success"><i class="fa fa-check"></i></a>
        <a ng-click="delete(user)" class="btn btn-danger"><i class="fa fa-trash"></i></a>
      </span>
    </li>
  </ul>
</div>
