.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

.navbar-text {
    margin-left: 15px;
}



table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
}

.table-nested {
  background: #fff;
  border: 2px solid #444;
  text-align: left;
}
.table-nested th, .table-nested td {
  padding: 0;
}
.table-nested th + th, .table-nested th + td, .table-nested td + th, .table-nested td + td {
  padding-left: 5px;
}
.table-nested td {
  border-top: 1px solid;
}
.table-nested td[colspan] {
  border: none;
}
.table-nested .cell-input {
  width: 20px;
  border-right: 1px solid;
}
.table-nested .cell-members {
  width: 100px;
}
.table-nested .indent {
  display: inline-block;
}
.table-nested .parent > .cell-name {
  cursor: pointer;
}
.table-nested .parent > .cell-name > .indent {
  margin-right: 5px;
}
.table-nested .parent > .cell-name > .indent:before {
  content: "ï”";
  font-family: FontAwesome;
  display: inline-block;
  -moz-transition: -moz-transform 0.3s;
  -o-transition: -o-transform 0.3s;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}
.table-nested .children {
  display: none;
}
.table-nested .opened > tr > .cell-name > .indent:before {
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.table-nested .opened > .children {
  display: table-row;
}
