<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
</header>

<div class="container">
  <form class="thing-form">
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Add a new store here." ng-model="newStore">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="create()">Add New</button>
      </span>
    </p>
  </form>
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Stores:</h1>
      <table class="table table-striped table-bordered">
        <tbody>
        <tr ng-repeat="store in stores">
          <td>
            <a href="#" tooltip="Click to edit" ng-click="update(store)">{{store.name}}</a>
          </td>
          <td ng-show="isAdmin" style="width: 10%" class="text-center">
            <button type="button" class="btn btn-danger" ng-click="delete(store)"><i class="fa fa-close"></i></button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>


</div>

<footer class="footer">
</footer>
